<header class="fixed w-full bg-black text-white z-50 shadow-lg">
  <div class="container mx-auto px-6 py-4">
    <div class="flex justify-between items-center">
      <a href="#home" class="text-2xl font-bold">SnapAtSix</a>

      <!-- Desktop Navigation -->
      <nav class="hidden md:flex space-x-8">
        <a routerLink="/home" class="hover:text-indigo-400 transition duration-300">Home</a>
        <a routerLink="/about" class=" hover:text-indigo-400 transition duration-300">About</a>
        <a routerLink="/pricing" class="hover:text-indigo-400 transition duration-300">Pricing</a>
        <a routerLink="/contact" routerLinkActive="router-link-active" class="hover:text-indigo-400 transition duration-300">Contact</a>
      </nav>

      <!-- Mobile Menu Button -->
      <button class="md:hidden focus:outline-none" (click)="toggleMenu()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>

    <!-- Mobile Navigation -->
     @if(isMenuOpen){
        <div class="md:hidden mt-4 space-y-4 pb-4">
            <a href="/home" class="block hover:text-indigo-400 transition duration-300" (click)="closeMenu()">Home</a>
            <a href="/about" class="block hover:text-indigo-400 transition duration-300" (click)="closeMenu()">About</a>
            <a href="/pricing" class="block hover:text-indigo-400 transition duration-300" (click)="closeMenu()">Pricing</a>
            <a href="/contact" class="block hover:text-indigo-400 transition duration-300" (click)="closeMenu()">Contact</a>
        </div>
     }

  </div>
</header>

