<div class="absolute flex h-full">
  
    @if(isOpen){
    <div class="fixed inset-0 bg-black/40 z-40" (click)="toggleSidebar()">
    </div>
    }
  <!-- Sidebar -->
  <aside
    class="fixed left-0 top-0 h-full w-64 bg-black text-white z-50
         transition-transform duration-300"
    [class.-translate-x-full]="!isOpen">

    <div class="mt-16 text-center font-bold border-b border-gray-800">
      Admin Panel
    </div>

    <nav class="p-4 space-y-2">

      <a routerLink="/admin/dashboard"
         routerLinkActive="bg-white text-black"
         class="block px-4 py-2 rounded hover:bg-gray-800 transition"
         (click)="closeSidebar()">
        Dashboard
      </a>

      <a routerLink="/admin/modify-page"
         routerLinkActive="bg-white text-black"
         class="block px-4 py-2 rounded hover:bg-gray-800 transition"
         (click)="closeSidebar()">
        Modify Page
      </a>

      <a routerLink="/admin/guest-info"
         routerLinkActive="bg-white text-black"
         class="block px-4 py-2 rounded hover:bg-gray-800 transition"
         (click)="closeSidebar()">
        Guest Infos
      </a>

      <a routerLink="/admin/admin-register"
         routerLinkActive="bg-white text-black"
         class="block px-4 py-2 rounded hover:bg-gray-800 transition"
         (click)="closeSidebar()">
        Manage Admins
      </a>

    </nav>

      <!-- Toggle arrow -->
    <button
        (click)="toggleSidebar()"
        class="absolute top-1/12 -right-4 bg-black text-white px-2 py-3 rounded-r shadow transition">

        @if(isOpen){
        ←
        } @else {
        →
        }

    </button>

  </aside>
</div>
