<div class="min-h-screen pt-24 bg-white text-white px-4">

  <h1 class="h-fit text-3xl text-gray-900 font-bold mb-6">Dashboard</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <div class="bg-gray-900 p-6 rounded-xl shadow">
      <h2 class="text-lg font-semibold">Total Guests</h2>
      <p class="text-3xl mt-2">128</p>
    </div>

    <div class="bg-gray-900 p-6 rounded-xl shadow">
      <h2 class="text-lg font-semibold">Admins</h2>
      <p class="text-3xl mt-2">3</p>
    </div>

    <div class="bg-gray-900 p-6 rounded-xl shadow">
      <h2 class="text-lg font-semibold">Bookings</h2>
      <p class="text-3xl mt-2">42</p>
    </div>

  </div>
</div>
<!-- <div class="min-h-screen flex items-center justify-center bg-black text-white px-4">
  <div class="w-full max-w-md bg-gray-900 rounded-2xl shadow-lg p-8 space-y-6"> 

  </div>
</div> -->